<div class="row">
  <div class="col-lg-12">
    <h2>Drag & Zoom II Example</h2>
    <p>
      This example is based on <a href="https://bl.ocks.org/mbostock/3127661b6f13f9316be745e77fdfb084">Mike Bostock's Drag & Zoom II Block</a>.
    </p>
    <p>
      The source code for the Angular 2 Component implementing the block can be found <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/src/app/d3-tests/test-drag-zoom-2">here</a>.
    </p>

  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <svg></svg>
  </div>
</div>
