<mat-card>
  <mat-card-header>
    <div class="mat-headline">
      Brush & Zoom II
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="start center">
      <div fxFlex>
        <p class="mat-caption">
          Demonstrate how to:
        </p>
        <ul class="mat-caption">
          <li>
            build an Angular component which uses a D3 service to render to
            <code>&lt;svg&gt;</code>, and
          </li>
          <li>
            use D3 version 4 in TypeScript to draw a scatter plot with brush and zoom/pan event handling.
          </li>
        </ul>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around start">
          <div fxFlex="45%" [fxFlex.lt-md]="'90%'">
            <h4 class="mat-headline">Reference</h4>
            <p class="text-justify">
              This example is based on <b>Mike Bostock's Brush & Zoom II Block</b>. The original source with its supporting explanation
              can be found by following the link below.
            </p>
            <p>
              <em>Source:</em> <a href="https://bl.ocks.org/mbostock/f48fcdb929a620ed97877e4678ab15e6">Brush & Zoom II Block</a>.
            </p>
          </div>
          <div fxFlex="45%" [fxFlex.lt-md]="'90%'">
            <h4 class="mat-headline">D3 Angular Implementation</h4>
            <p class="text-justify">
              The implementation is a straightforward Angular component without any inputs. Its template is an <code>&lt;svg&gt;</code>        element with fixed dimensions. The component renders the visualization using the <code>d3</code> instance provided
              by the injected <code>D3Service</code>.
            </p>
            <p class="text-justify">
              The D3 component can be embedded into a parent component using the following tag:
            </p>
            <p>
              <code>&lt;app-brush-zoom-2&gt;&lt;/app-brush-zoom-2&gt;</code>.
            </p>
            <p class="text-justify">
              The source code for the D3 component can be found at:
            </p>
            <p>
              <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/src/app/d3-demos/brush-zoom-2">Brush Zoom II D3 Component</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="visualization">
      <app-brush-zoom-2></app-brush-zoom-2>
    </div>
  </mat-card-content>
</mat-card>
