<div class="container">
  <div class="row">
    <div class="col col-lg-12">
      <h3 class="text-primary">Brush & Zoom II</h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
      <p class="text-info">
        Demonstrate how to:
      </p>
      <ul class="text-info">
        <li>
          build an Angular 2 component which uses a D3 service to render to <code>&lt;svg&gt;</code>, and
        </li>
        <li>
          use D3 version 4 in TypeScript to draw a scatter plot with brush and zoom/pan event handling.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-6 col-md-6 col-sm-12">
      <h4 class="text-primary">Reference</h4>
      <p class="text-justify">
        This example is based on <b>Mike Bostock's Brush & Zoom II Block</b>. The original source with its supporting explanation
        can be found by following the link below.
      </p>
      <p>
        <em>Source:</em> <a href="https://bl.ocks.org/mbostock/f48fcdb929a620ed97877e4678ab15e6">Brush & Zoom II Block</a>.
      </p>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-12">
      <h4 class="text-primary">D3 Angular 2 Implementation</h4>
      <p class="text-justify">
        The implementation is a straightforward Angular 2 component without any inputs. Its template is an <code>&lt;svg&gt;</code>        element with fixed dimensions. The component renders the visualization using the <code>d3</code> instance provided
        by the injected <code>D3Service</code>.
      </p>
      <p class="text-justify">
        The D3 component can be embedded into a parent component using the following tag:
      </p>
      <p>
        <code>&lt;app-brush-zoom-2&gt;&lt;/app-brush-zoom-2&gt;</code>.
      </p>
      <p class="text-justify">
        The source code for the D3 component can be found at:
      </p>
      <p>
        <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/src/app/d3-demos/brush-zoom-2">Brush Zoom II D3 Component</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <div class="visualization">
        <app-brush-zoom-2></app-brush-zoom-2>
      </div>
    </div>
  </div>
</div>
