<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-primary">Brush & Zoom II</h3>
      <h4 class="text-primary">Reference Source</h4>
      <p>
        This example is based on <a href="https://bl.ocks.org/mbostock/f48fcdb929a620ed97877e4678ab15e6">Mike Bostock's Brush & Zoom II Block</a>.
      </p>
      <h4 class="text-primary">Adapted Source Code</h4>
      <p>
        The source code for the Angular 2 Component implementing the block can be found <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/src/app/d3-demos/brush-zoom-2">here</a>.
      </p>
      <h4 class="text-primary">Visualization</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="center-block visualization text-center">
        <app-brush-zoom-2></app-brush-zoom-2>
      </div>
    </div>
  </div>
</div>
