div.jumbotron {
  background-color: rgb(230, 230, 255);
}

div.jumbotron p {
  font-size: 14px;
}

div.jumbotron img {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #222;
  color: #eee;
}
