.spacer {
  flex: 1 1 auto;
}

.mat-card {
  margin: 10px;
  text-align: center;
}

img.splash-image {
  max-height: 400px;
  max-width:100%;
}

.text-justify p {
  text-align: justify;
}

.text-center p {
  text-align: center;
}
