<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        {{title}}
        </span>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="jumbotron">
    <h1>Visual Power at Scale?</h1>
    <h3><em>Fuse D3 and Angular 2 in TypeScript</em></h3>
    <br>
    <div class="text-justified">
      Ever wondered, how to build modern web apps with re-usable, interactive data visualization components? The latest incarnation
      of <b>D3</b> is getting you excited, <b>Angular 2</b> is approaching the landing strip, and you have come to
      love <b>TypeScript</b> for its promise to develop complex solutions at scale.
    </div>
  </div>

</div>

<app-wrapper-brush-zoom-2></app-wrapper-brush-zoom-2>
<app-wrapper-drag-zoom-2></app-wrapper-drag-zoom-2>
<app-wrapper-voronoi-spirals-3></app-wrapper-voronoi-spirals-3>
