<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-primary">Voronoi Spirals III</h3>
      <h4 class="text-primary">Reference Source</h4>
      <p>
        This example is based on <a href="https://bl.ocks.org/mbostock/c677b9bb3c926ba13f3a902acb006b0c">Mike Bostock's Voronoi Spirals III Block</a>.
      </p>
      <h4 class="text-primary">Adapted Source Code</h4>
      <p>
        The source code for the Angular 2 Component implementing the block can be found <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/src/app/d3-demos/voronoi-spirals-3">here</a>.
      </p>
      <h4 class="text-primary">Visualization</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="center-block visualization text-center">
        <app-voronoi-spirals-3></app-voronoi-spirals-3>
      </div>
    </div>
  </div>
</div>
